.table-container {
	margin-top:10px;
	table-layout:fixed;
}

.table-container table {
	width:100%;
}

.table-container td {
	text-align:center;
}

.inner-studentpicture {
	max-width:95%;
	max-height:500px;
	border:double grey;
	border-radius:10px;
}

.inner-projectname {
	border-bottom:double grey;
	padding:5px;
	font-weight:bold;
	font-size:24px;
}

.inner-studentname {
	font-style:italic;
}

.table-left {
	width:33%;
}

.table-right {
	width:33%;
}

body {
	font-family:Roboto;
	font-size:18px;
	overflow-y: scroll;
}

.submenubar-header {
	text-align:center;
	font-weight:bold;
	font-size:22px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width:100%;
  text-align:center;
  font-size:22px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.accordion-container {
	text-align:center;
	width:100%;
}