.table-container {
	margin-top:10px;
	table-layout:fixed;
}

.table-container table {
	width:98%;
}

.table-container td {
	text-align:center;
}

.inner-studentpicture {
	max-width:95%;
	max-height:500px;
	border:double grey;
	border-radius:10px;
}

.inner-projectname {
	border-bottom:double grey;
	padding:5px;
	font-weight:bold;
	font-size:24px;
}

.inner-studentname {
	font-style:italic;
}

.table-left {
	width:33%;
}

.table-right {
	width:33%;
}

body {
	font-family:Roboto;
}