/* This is a bit redundant b/c it's hidden already*/
input:not(.mod):not(.accordion) {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
}

input:not(.mod):focus {
  outline: none;
}

button:not(.mod):not(.accordion) {
  padding:3px;
  border: none;
  background:none;
}

form {
  margin-block-end: 0em;
}

.submenubar-body {
  padding:10px;
}

.mod {
  margin:5 0 0 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  opacity: 0;
  width: 5em;
  background-color: #c1c1c1;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  transition:0.25s;

  position: absolute;
  top: 0px;
  left: 105%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  transition:0.25s;
}
