.menubar-href {
	text-decoration:none;
	color:black;
	padding:7px;
	margin-top:10px;
	font-size:24px;
	background-color:#fca741;
	border-radius:2px;
	transition: 0.85s;
}

.menubar-list {
	list-style-type:none;
}

.menubar-element {
	display:inline;
	background-color:#fca741;
}

.menubar-list-container {
	text-align:center;
	margin-left:-2%;
}

.menubar-href:hover {
	background-color:#ff910c;
	transition: 0.85s;
	padding:10px 20px 10px 20px
}

.menubar-image {
	display:inline;
}

.menubar-image-container {
	text-align:center;
}

.menubar-text {
	font-size:58px;
	font-family:Cinzel;
	font-weight:normal;
	text-decoration:none;
	color:black;
}

.menubar-container {
	padding: 20px 0 5px 0;
	background-color:#ededed;
	font-family:'Open Sans', sans-serif;
}